extends ../layouts/default

block content
  form.signin.form-horizontal(action="/api/v1/users/change/password", method="post")
    p.error= message
    .control-group
      .controls
        input#token(type='hidden', name="resetPasswordToken", value="#{resetPasswordToken}")
        input#email(type='hidden', name="email", value="#{user.email}")
        input#_id(type='hidden', name="_id", value="#{user._id}")
    .control-group
      label.control-label(for='password') Password
      .controls
        input#password(type='password', name="password", placeholder='Password')
    .control-group
      label.control-label(for='password') Confirm Password
      .controls
        input#confpassword(type='password', name="passwordConfirm", placeholder='Confirm Password')

    .form-actions
      button.btn.btn-primary(type='submit') Reset
      &nbsp;
