<ion-view >
 
<ion-content class="has-header">
 
    <ion-slide-box style="background-color: #4a4845; padding-top: 0px">      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center">
            <a class="afk-menu-tab2 afk-menu-tab-active" >MY FEED</a>
          </div>
          <div class="col afk-align-center">
            <a  class="afk-menu-tab2" ng-click="go(1)">SCORES</a>
          </div>
          <!--div class="col afk-align-center">
            <a  class="afk-menu-tab2" ng-click="go(2)">SUBSCRIPTIONS</a>
          </div-->
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(2)">COMMUNITY</a>
          </div>
        </div>
        <div class="afk-content-high">
        <div style="text-align: center; font-size: 80px">           
            <span ng-show="activities.length==0"  class="icon ion-loading-a"></span>
        </div>
        <ion-list>
          <ion-item ng-repeat="activity in activities" class="afk-bg-list item item-avatar item-icon-right">
            <img ng-src="{{activity.picture? apiDir + activity.picture :activity.url_img||'./images/nopic-feed.png'}}" class="afk-circle">
            <a class="afk-lnk-detail" ng-click="setCurrentFeed(activity._id)">
                <span class="afk-obj-name"><i style="color: #f97c11">{{activity.feedType?'com':'-'}} </i> {{activity.message}}</span>
                <span class="afk-obj-info" > <a class="afk-lnk-player-feed" ng-href="#/private/player/{{activity._player._id}}">{{activity._player.name}}</a>
                <a class="afk-lnk-team-feed" ng-href="#/private/team/{{activity._team._id}}"> {{activity._team.name}}</a>    {{activity.createdAt|date:'HH:mm (MM/dd/yyyy)'}}          {{activity.comments.length}} comments</span>
                <i class="icon ion-arrow-right-b" style="font-size: 13px; color: lightgrey;"></i>
            </a>
          </ion-item>   
        </ion-list>
        </div>
        
        <div ng-show="stopScrollFeed && activities.length>10" >
            <center>No more results to show!!!</center>
        </div>
    
        <ion-infinite-scroll on-infinite="loadMoreFeeds()" ng-if="!stopScrollFeed"></ion-infinite-scroll>
        
      </ion-slide>
      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(0)">MY FEED</a>
          </div>
           <div class="col afk-align-center">
            <a  class="afk-menu-tab2 afk-menu-tab-active" >SCORES <!--span style="font-size: 14px" class="icon ion-compose afk-comment"></span--></a>
           </div>
          <!--div class="col afk-align-center">
            <a  class="afk-menu-tab2" ng-click="go(2)">SUBSCRIPTIONS</a>
          </div-->
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(2)">COMMUNITY</a>
          </div>
        </div>
        
        <!--div class="item item-input-inset" style="background-color: grey" ng-show="showScore">            
            <label class="item-input-wrapper afk-search-bg" >            
                <input type="text" placeholder="Add Comment Here" class="afk-search-bg" ng-model="data.message" maxlength="160" />
            </label>    
            <button class="button afk-btn-register"  style="margin:0px;" ng-click="comment(data.message, 'score'); data.message=''">
            Post
            </button>
        </div-->
        <div class="afk-content-high">
        <ion-list>
          <ion-item ng-repeat="activity in scores" >
                <div class="row">
                    <div class="col-80" style="text-align: center">
                        <span class="afk-feed" >{{activity._team1.name + '  -  ' + activity._team2.name + ' ' }} </span>
                        <span class="afk-obj-desc"> {{activity.dateMatch||activity.createdAt|date:"EEEE MMM dd 'at' HH:mm 'GMT'"}}</span> 
                    </div>
                    <div class="col-20" style="text-align: left; font-weight: bold;">
                        {{activity.score}}
                    </div>
                </div>
          </ion-item>      
        </ion-list>
        
        <div ng-show="stopScrollScore && scores.length>=10" >
            <center>No more results to show!!!</center>
        </div>
    
        <ion-infinite-scroll on-infinite="loadMoreScores()" ng-if="!stopScrollScore"></ion-infinite-scroll>
         </div>
      </ion-slide>
      
      <!--ion-slide>              
        <div class="row">
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(0)">MY FEED</a>
          </div>
           <div class="col afk-align-center">
            <a  class="afk-menu-tab2" ng-click="go(1)">SCORES</a>
           </div>
          <div class="col afk-align-center">
            <a  class="afk-menu-tab2 afk-menu-tab-active">SUBSCRIPTIONS</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(3)">COMMUNITY</a>
          </div>
        </div>
        
        <ion-list>
          <ion-item ng-repeat="activity in activities" class="afk-bg-list item item-avatar item-icon-right">
            <img src="./images/ionic.png" class="afk-circle">
            <a class="afk-lnk-detail">
                <span class="afk-obj-name"><i style="color: #f97c11">Update: </i> {{activity.message}}</span>
                <span class="afk-obj-info" >{{activity.createdAt|date:'HH:MM'}}          {{activity.comments.length||0}} comments</span>
                <i class="icon ion-arrow-right-b" style="font-size: 13px; color: lightgrey;"></i>
            </a>
          </ion-item>    
        </ion-list>     
      </ion-slide-->
      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(0)">MY FEED</a>
          </div>
           <div class="col afk-align-center">
            <a  class="afk-menu-tab2" ng-click="go(1)">SCORES</a>
           </div>
          <!--div class="col afk-align-center">
            <a  class="afk-menu-tab2" ng-click="go(2)">SUBSCRIPTIONS</a>
          </div-->
          <div class="col afk-align-center">
            <a class="afk-menu-tab2 afk-menu-tab-active" ng-click="show=!show">COMMUNITY <span style="font-size: 14px" class="icon ion-compose afk-comment"></span></a>
          </div>
        </div>
        
        <div class="item item-input-inset" style="background-color: grey" ng-show="true">            
            <label class="item-input-wrapper afk-search-bg" >            
                <input type="text" placeholder="Add Comment Here" class="afk-search-bg" ng-model="data.message" maxlength="160" />
            </label>    
            <button class="button afk-btn-register"  style="margin:0px;" ng-click="comment(data.message, 'community'); data.message=''">
            Post
            </button>
        </div>
        <div class="afk-content-high">
        <ion-list>
           <ion-item ng-repeat="activity in communities">
            <!--img ng-src="{{activity.picture? apiDir + activity.picture :activity.url_img||'./images/nopic-feed.png'}}" class="afk-circle"-->
            <!--a class="afk-lnk-detail" ng-click="setCurrentFeed(activity._id)"-->
                <span class="afk-feed"><i class="afk-circle" style="color: #f97c11;background-color: black">{{activity.feedType?'Com.':'-'}} </i> {{activity.message}}</span>
                <span class="afk-obj-desc">Posted by <a class="afk-lnk-player-feed" ng-href="{{activity._user._id==user._id?'#':'#/private/member/'+activity._user._id}}">{{activity._user._id == user._id?'Me':activity._user.name||activity._user.username}}</a> on {{activity.createdAt|date:"EEEE MMM dd 'at' HH:mm 'GMT'"}}</span> 
            <!--/a-->
          </ion-item>              
        </ion-list>
         </div>
        <div ng-show="stopScroll && communities.length>10" >
            <center>No more results to show!!!</center>
        </div>
    
        <ion-infinite-scroll on-infinite="loadMoreCommunity()" ng-if="!stopScroll"></ion-infinite-scroll>
        
      </ion-slide>
    </ion-slide-box>  

  </ion-content>
 
</ion-view>



