<ion-view >
 
<ion-content class="has-header">
 
    <ion-slide-box style="background-color: #4a4845; padding-top: 0px">      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center">
            <a class="afk-menu-tab2 afk-menu-tab-active" >ACTIVITY</a>
          </div>
          <div class="col afk-align-center">
            <a  class="afk-menu-tab2" ng-click="go(1)">SCORES</a>
          </div>
          <div class="col afk-align-center">
            <a  class="afk-menu-tab2" ng-click="go(2)">SUBSCRIPTIONS</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(3)">COMMUNITY</a>
          </div>
        </div>
        
        <ion-list>
          <ion-item ng-repeat="activity in activities" class="afk-bg-list item item-avatar item-icon-right">
            <img ng-src="{{activity.picture? apiDir + activity.picture :activity.url_img||'./images/nopic-feed.png'}}" class="afk-circle">
            <a class="afk-lnk-detail" ng-click="setCurrentFeed(activity._id)">
                <span class="afk-obj-name"><i style="color: #f97c11">{{activity.feedType?activity.feedType +':':'-'}} </i> {{activity.message}}</span>
                <span class="afk-obj-info" >{{activity.createdAt|date:'HH:mm (MM/dd/yyyy)'}}          {{activity.comments.length}} comments</span>
                <i class="icon ion-arrow-right-b" style="font-size: 13px; color: lightgrey;"></i>
            </a>
          </ion-item>   
        </ion-list>      
      </ion-slide>
      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(0)">ACTIVITY</a>
          </div>
           <div class="col afk-align-center">
            <a  class="afk-menu-tab2 afk-menu-tab-active">SCORES</a>
           </div>
          <div class="col afk-align-center">
            <a  class="afk-menu-tab2" ng-click="go(2)">SUBSCRIPTIONS</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(3)">COMMUNITY</a>
          </div>
        </div>        
        <ion-list>
          <ion-item ng-repeat="activity in activities" class="afk-bg-list item item-avatar item-icon-right">
            <img src="./images/ionic.png" class="afk-circle">
            <a class="afk-lnk-detail">
                <span class="afk-obj-name"><i style="color: #f97c11">Update: </i> {{activity.message}}</span>
                <span class="afk-obj-info" >{{activity.createdAt|date:'HH:MM'}}          {{activity.comments.length||0}} comments</span>
                <i class="icon ion-arrow-right-b" style="font-size: 13px; color: lightgrey;"></i>
            </a>
          </ion-item>     
        </ion-list>
      </ion-slide>
      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(0)">ACTIVITY</a>
          </div>
           <div class="col afk-align-center">
            <a  class="afk-menu-tab2" ng-click="go(1)">SCORES</a>
           </div>
          <div class="col afk-align-center">
            <a  class="afk-menu-tab2 afk-menu-tab-active">SUBSCRIPTIONS</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(3)">COMMUNITY</a>
          </div>
        </div>
        
        <ion-list>
          <ion-item ng-repeat="activity in activities" class="afk-bg-list item item-avatar item-icon-right">
            <img src="./images/ionic.png" class="afk-circle">
            <a class="afk-lnk-detail">
                <span class="afk-obj-name"><i style="color: #f97c11">Update: </i> {{activity.message}}</span>
                <span class="afk-obj-info" >{{activity.createdAt|date:'HH:MM'}}          {{activity.comments.length||0}} comments</span>
                <i class="icon ion-arrow-right-b" style="font-size: 13px; color: lightgrey;"></i>
            </a>
          </ion-item>    
        </ion-list>     
      </ion-slide>
      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(0)">ACTIVITY</a>
          </div>
           <div class="col afk-align-center">
            <a  class="afk-menu-tab2" ng-click="go(1)">SCORES</a>
           </div>
          <div class="col afk-align-center">
            <a  class="afk-menu-tab2" ng-click="go(2)">SUBSCRIPTIONS</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab2 afk-menu-tab-active">COMMUNITY</a>
          </div>
        </div>
         
        <ion-list>
            <ion-item ng-repeat="comment in (communities |sortArray)">                    
            <span class="afk-feed">{{comment.message}}</span>
            <span class="afk-obj-desc">Posted by {{comment.username}} on {{comment.createdAt|date:"EEEE MMM dd 'at' HH:mm 'GMT'"}}</span> 
          </ion-item>             
        </ion-list>     
      </ion-slide>
    </ion-slide-box>  

  </ion-content>
 
</ion-view>



