<ion-view >
 
<ion-content class="has-header">
    <!--button menu-toggle="left" class="button button-icon icon ion-navicon"></button-->
    <div class="row afk-member-profile" style="background-image: url('./images/profile-bg.png');filter: brightness(50%);-moz-filter: brightness(50%);">        
        <div class="col" style="height: auto;text-align: center">            
          <div class="row">            
            <div class="col">
            <div ng-show="isSubscribedOn(player)" >
                <span ng-click="unsubscribe(player)" class="icon ion-search" style="color: white; font-size: 20px; cursor:pointer" >Unfollow</span>
            </div>
            <center><img class="afk-circle" ng-src="{{getPicItem(player)}}" /></center>
            </div>
          </div>
          <div class="row">
            <div class="col" style="padding-bottom: 15px;padding-top: 1px">
              <h3 id="name">{{player.name}}</h3>
              <h6 id="summary">{{player.country}} National football Team<br/>
              {{player.club}} at {{player.clubcountry}} - (N°: #{{player.no}} - position: {{player.position}})
              </h6>
              
            </div>
          </div>            
        </div>
    </div>
    <div class="row" style="background-color: #4a4845;" ng-show="!isSubscribedOn(player)">
      <div class="col afk-align-center" style="height: 25px">
        <button class="button afk-btn afk-btn-register afk-member-subscribe-btn" ng-click="subscribe(player)">Subscribe</button>
      </div>
    </div>
    
   
   <div style="background-color: grey">
    <div ng-style="styleLocked">
    <ion-slide-box style="background-color: #4a4845; padding-top: 0px" >      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center">
            <a class="afk-menu-tab afk-menu-tab-active" >ACTIVITY</a>
          </div>
          <div class="col afk-align-center" ng-click="go(1)">
            <a  class="afk-menu-tab">CAREER</a>
          </div>
          <div class="col afk-align-center" ng-click="go(2)">
            <a class="afk-menu-tab">STATS</a>
          </div>
        </div>
        <div class="afk-content">
        <ion-list>
          <ion-item ng-repeat="activity in activities" class="afk-bg-list item item-avatar item-icon-right">
            <img ng-src="{{activity.picture? apiDir + activity.picture :activity.url_img||'./images/nopic-feed.png'}}" class="afk-circle">
            <a class="afk-lnk-detail" ng-controller="ActivityCtrl" ng-click="setCurrentFeed(activity._id)">
                <span class="afk-obj-name"><i style="color: #f97c11">{{activity.feedType?activity.feedType +':':'-'}} </i> {{activity.message}}</span>
                <span class="afk-obj-info" > <a class="afk-lnk-player-feed" ng-href="#/private/player/{{activity._player._id}}">{{activity._player.name}}</a>
                <a class="afk-lnk-team-feed" ng-href="#/private/team/{{activity._player._id}}"> {{activity._team.name}}</a>    {{activity.createdAt|date:'HH:mm (MM/dd/yyyy)'}}          {{activity.comments.length}} comments</span>
                <i class="icon ion-arrow-right-b" style="font-size: 13px; color: lightgrey;"></i>
            </a>
          </ion-item>   
        </ion-list>
        </div>
      </ion-slide>
      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center" ng-click="go(0)">
            <a class="afk-menu-tab">ACTIVITY</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab afk-menu-tab-active">CAREER</a>
          </div>
          <div class="col afk-align-center" ng-click="go(2)">
            <a class="afk-menu-tab">STATS</a>
          </div>
        </div> 
           <div class="afk-player-activity afk-content" style="color: grey">
            {{player.career||player.description}}
           </div>
      </ion-slide>
      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center" ng-click="go(0)">
            <a class="afk-menu-tab">ACTIVITY</a>
          </div>
          <div class="col afk-align-center" ng-click="go(1)">
            <a class="afk-menu-tab">CAREER</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab afk-menu-tab-active">STATS</a>
          </div>
        </div>
        <div class="afk-content">
            <div class="row">
                <div class="col">
                    <div class="list">
                        <div class="row">
                          <div class="col"><img src="images/ionic.png" style="max-height: 50px; max-width: 50px"></div>
                          <div class="col" style="text-align: center">
                            <h5>Goals </h5>
                            <h4>{{player.goals||5}}</h4>
                          </div>             
                        </div>
                        <div class="row">
                          <div class="col"><img src="images/ionic.png" style="max-height: 50px; max-width: 50px"></div>
                          <div class="col" style="text-align: center">
                            <h5>Wins </h5>
                            <h4>{{player.wins||5}}</h4>
                          </div>             
                        </div>
                        <div class="row">
                          <div class="col"><img src="images/ionic.png" style="max-height: 50px; max-width: 50px"></div>
                          <div class="col" style="text-align: center">
                            <h5>Losses </h5>
                            <h4>{{player.losses||5}}</h4>
                          </div>             
                        </div>                                               
                    </div>
                </div>
                <div class="col">
                    <div class="list">                        
                        <div class="row">
                          <div class="col"><img src="images/ionic.png" style="max-height: 50px; max-width: 50px"></div>
                          <div class="col" style="text-align: center">
                            <h5>Red cards </h5>
                            <h4>{{player.reds||0}}</h4>
                          </div>             
                        </div>
                        <div class="row">
                          <div class="col"><img src="images/ionic.png" style="max-height: 50px; max-width: 50px"></div>
                          <div class="col" style="text-align: center">
                            <h5>Yellow cards </h5>
                            <h4>{{player.yellows||1}}</h4>
                          </div>             
                        </div>                        
                    </div>
                </div>
            </div>              
        </div>
      </ion-slide>
    </ion-slide-box>
    <div ng-show="!isSubscribedOn(player)" >
      <center>Subscribe To Unlock Player Information</center>
    </div>
    </div>
   </div>

  </ion-content>
 
</ion-view>



