<ion-view >
 
<ion-content class="has-header">
    <!--button menu-toggle="left" class="button button-icon icon ion-navicon"></button-->
    <div class="row afk-member-profile" style="background-image: url('./images/member-small-bg.png');">
        <div class="col" style="height: auto;text-align: center">         
          <div class="row">
            <div class="col">
                 <center><img class="afk-circle" src="./images/player.png" /></center>
            </div>
          </div>
          <div class="row">
            <div class="col" style="padding-bottom: 15px;padding-top: 1px">
              <h3 id="name">Didier DROGBA</h3>
              <h6 id="summary">Ivory Coast National football team<br/>
              Galatasaray S.K (#11/Forward)
              </h6>
            </div>
          </div>            
        </div>
    </div>
    <div class="row" style="background-color: #4a4845;">
      <div class="col afk-align-center" style="height: 25px">
        <button class="button afk-btn afk-btn-register afk-member-subscribe-btn">Subscribe</button>
      </div>
    </div> 
   
    <ion-slide-box style="background-color: #4a4845; padding-top: 0px">      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center">
            <a class="afk-menu-tab afk-menu-tab-active" >ACTIVITY</a>
          </div>
          <div class="col afk-align-center">
            <a  class="afk-menu-tab" ng-click="go(1)">CAREER</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab" ng-click="go(2)">COMMUNITY</a>
          </div>
        </div>
        
        <ion-list>
          <ion-item ng-repeat="player in players" class="afk-bg-list item item-avatar item-icon-right">
            <img src="./images/ionic.png" class="afk-circle">
            <a class="afk-lnk-detail">
                <span class="afk-obj-name"><i style="color: #f97c11">Update: </i> {{player.description}}</span>
                <span class="afk-obj-desc" >02:00 PM          3 comments</span>
                <i class="icon ion-arrow-right-b" style="font-size: 13px; color: lightgrey;"></i>
            </a>
          </ion-item>   
        </ion-list>       
      </ion-slide>
      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center">
            <a class="afk-menu-tab" ng-click="go(0)">ACTIVITY</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab afk-menu-tab-active">CAREER</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab" ng-click="go(2)">COMMUNITY</a>
          </div>
        </div>        
           <div class="afk-player-activity">
            {{career}}
           </div>
      </ion-slide>
      
      <ion-slide>              
        <div class="row">
          <div class="col afk-align-center">
            <a class="afk-menu-tab" ng-click="go(0)">ACTIVITY</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab" ng-click="go(1)">CAREER</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab afk-menu-tab-active">COMMUNITY</a>
          </div>
        </div>
         <div class="item item-input-inset" style="background-color: grey">            
            <label class="item-input-wrapper afk-search-bg" >            
                <input type="text" placeholder="Add Comment Here" class="afk-search-bg" ng-model="request.query" />
            </label>    
            <button class="button afk-btn-register"  style="margin:0px;" ng-click="search()">
            Post
            </button>
        </div>
        <ion-list>
          <ion-item ng-repeat="player in players">                    
            <span class="afk-feed">{{player.description}}</span>
            <span class="afk-obj-desc">Posted by Amadou on Thursday Oct 25 at 02:00 PM</span> 
          </ion-item>   
        </ion-list>     
      </ion-slide>
    </ion-slide-box>  

  </ion-content>
 
</ion-view>



