<ion-view left-buttons="leftButtons" right-buttons="rightButtons">

    <ion-content has-header="true">        

        <div ng-controller="PlayerCtrl" >                      
        
        <div class="item item-input-inset" style="background-color: grey">
         
            <label class="item-input-wrapper afk-search-bg" style="margin:0px;border-radius: 0px" >
                <i class="icon ion-search placeholder-icon" class="afk-search-bg"></i>
                <input type="text" placeholder="Search For Players, Teams" class="afk-search-bg" ng-model="searchName" />
            </label>

            <button class="button afk-btn-register"  style="margin:0px;" ng-click="search(searchName)">
            Search
            </button>
        </div>
        
        <ion-list>
          <ion-item ng-repeat="item in items | filter:{name:searchName}" class="afk-bg-list item item-avatar item-button-right">
            <img ng-src="{{getPicItem(item)}}" class="afk-circle">              
            <a class="afk-lnk-detail" ng-click="setCurrentItem(item)">
              <span class="afk-obj-name">{{item.name}}</span>
            <span class="afk-obj-desc">{{item.description||item.career}}</span>
              View Profile <i class="icon ion-ios7-arrow-forward"></i></a>
          </ion-item>   
        </ion-list>
        <!--ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll-->
        </div>
        
    </ion-content>

</ion-view>
