<div class="container">
    <div class="page-header">
        <h1 id="timeline"><span id="totalWordCount">{{requestCount}}</span>&nbsp;{{'REQUESTS'|translate}} </h1>
        <div class="text-center">
          <button ng-click="openAddPostRequestModal()" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-plus"></span> {{'ADD_LABEL'|translate}}</button>  
        </div>
    </div>
    <ul class="timeline" infinite-scroll='loadRequests()' infinite-scroll-distance='1'  infinite-scroll-disabled='loading'>
       <li ng-repeat="request in requests" ng-class-odd="'timeline-inverted'">
          <div class="timeline-badge" ng-class="{'warning':request.active}">
            <i class="glyphicon" ng-class="{'glyphicon-question-sign':request.active}"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{request.word}}</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{request.created|localDate}}</small></p>
            </div>
            <div class="timeline-body">
                  <button class="btn btn-primary" ng-click="openResolvePostRequestModal(request, $index)">{{'RESOLVE'|translate}}?</button>
            </div>
          </div>
        </li>
    </ul>
</div>