
	<h3 class="list-group-item-heading">{{post.word}}<span class="badge pull-right">{{post.page_views||0}} {{'POST_VIEWS'|translate}} | {{post.props|| 0}} {{'POST_PROPS'|translate}}</span></h3>

	<p class="list-group-item-text ">{{post.definition}}</p>
	<blockquote>
  		<p>{{post.example}}</p>
  		<small><cite title="Auteur">{{post.created|localDate}}, {{'POST_BY'|translate}} {{post.creator.username || 'ANONYMOUS'|translate }}  </cite></small>
	</blockquote>
	<div class="btn-group">
	  <button class="btn btn-primary" ng-click="give_props(post)">{{'POST_PROPSIT'|translate}}!</button>
	  <button class="btn">{{'POST_VIEW'|translate}}</button>
	</div>
