<form novalidate class="form"  name="resolvePostForm">
	<div class="modal-header">
		<h3>{{'RESOLVE_POST_FORM_LEGEND'|translate}}</h3>
	</div>
	<div class="modal-body">
		
				
		    <div class="form-group"  ng-class="{'has-error':(!resolvePostForm.word.$valid && resolvePostForm.word.$dirty )}">
		        <label  for="word">{{'RESOLVE_POST_FORM_WORD_LABEL'|translate}}:</label>
		        <input type="text" class="form-control input-lg" ng-model="post.word" ng-disabled="postRequest.type == 'no-fr'" id="word" name="word" required/>
		        <span class="text-error" ng-show="resolvePostForm.word.$error.required &&resolvePostForm.word.$dirty">{{'ADD_POST_FORM_WORD_REQUIRED_ERROR'|translate}}</span>
		    </div>
		    <div class="form-group">
		        <label  for="definition">{{'ADD_POST_FORM_TRANSLATED_FROM_LABEL'|translate}}:</label>
		        <p class="form-control-static">{{translationType.label}}</p>
		       
		    </div>
		    <div class="form-group" ng-class="{'has-error':(!resolvePostForm.definition.$valid && resolvePostForm.definition.$dirty )}">
		        <label  for="definition">{{'ADD_POST_FORM_DEFINITION_LABEL'|translate}}:</label>
		        <textarea  class="form-control btn-lg" ng-model="post.definition" id="definition" name="definition" required></textarea>
		        <span class="text-error" ng-show="resolvePostForm.definition.$error.required && resolvePostForm.definition.$dirty">{{'ADD_POST_FORM_DEFINITION_REQUIRED_ERROR'|translate}}</span>
		    </div>
		   
		    <div class="form-group" ng-class="{'has-error':(!resolvePostForm.example.$valid && resolvePostForm.example.$dirty )}">
		        <label  for="example">{{'ADD_POST_FORM_EXAMPLE_LABEL'|translate}}:</label>
		        <textarea class="form-control btn-lg" ng-model="post.example" id="example" name="example" required></textarea>
		        <span class="text-error" ng-show="resolvePostForm.example.$error.required && resolvePostForm.example.$dirty">{{'ADD_POST_FORM_EXAMPLE_REQUIRED_ERROR'|translate}}</span>
		    </div>
		    <input type="hidden" class="form-control" ng-model="post.is_from_request" id="is_from_request" name="is_from_request"/>   
	</div>
	<div class="modal-footer">
		<button type="submit" ng-click="submitPost()" class="btn btn-lg btn-primary"  ng-disabled="!resolvePostForm.$valid">{{'RESOLVE'|translate}}</button>
		<button class="btn"  ng-click="cancel()">{{'FORM_CANCEL_BTN_LABEL'|translate}}</button>
	</div>
</form>