<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Afrikik: Welcome to African football platform!</title>
</head>
<body>
    <img src="http://afrikik.c4adev.co.vu/wp-content/themes/afrikik/assets/img/logo_afr.jpg"/>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td class="navbar navbar-inverse" align="center">
                <table width="650px" cellspacing="0" cellpadding="3" class="container">
                    <tr class="navbar navbar-inverse">
                        <td colspan="4"><a class="brand" href="http://www.afrikik.com">Afrikik</a></td>
                        <td><ul class="nav pull-right"><li><a href="http://www.coders4africa.com">Visit us</a></li></ul></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF" align="center">
                <table width="650px" cellspacing="0" cellpadding="3" class="container">
                    <tr>
                        <td>

                            <p>CONGRATULATIONS and welcome to AFRIKIK! To get started, please confirm your email address by clicking the link below:
                            <p><a href="<%= locals.confirmationUrl %>"><%= locals.confirmationUrl %></a> 


                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF" align="center">
                <table width="650px" cellspacing="0" cellpadding="3" class="container">
                    <tr>
                        <td>
                            <hr>
                            <p>Coders4Africa Corporate</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>