
<ion-nav-view animation="slide-left-right">
  <!-- Center content -->

</ion-nav-view>

<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable" style="background-color: black;height: 50px">
      <div style="width: 25%">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left" style="black;color: #db6f11"></i></ion-nav-back-button>      
      <button ng-show="menuLeft" menu-toggle="left" class="button button-icon icon ion-navicon" style="black;color: white"></button>
      </div>
      <div class="afk-align-center" style="width: 50%">
        <img src="./images/logo.png" style="max-height: 36px;max-width: 400px"/>
      </div>
      <div style="width: 25%;text-align: right; margin: 2px;vertical-align: middle;">
        <!--img src="./images/ballon-right-header.png" style="max-height: 100%;max-width: 100%"/-->
         <button class="button button-icon icon ion-loop"  ng-click="refresh()" style="color: white;background-color:black;border-radius: 0;"></button>
      </div>
    </ion-nav-bar>
    
    <!--div class="bar bar-subheader">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i></ion-nav-back-button>      
    </div-->
    
    
    <ion-tabs class="tabs-dark tabs-icon-top" >
        <ion-tab title="Home" icon="ion-home" href="#/private/subscriptions" >
          <ion-nav-view name="subscriptions" animation="slide-left-right"></ion-nav-view>
        </ion-tab>
      
         <ion-tab title="Feed" icon="ion-social-rss" href="#/private/feeds" >
          <ion-nav-view name="menuFeed" animation="slide-left-right"></ion-nav-view>
        </ion-tab>
       
        <ion-tab title="Search" icon="ion-search" href="#/private/search-page">
          <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
        </ion-tab>
               
        <!--ion-tab title="Notifications" icon="ion-ios7-information" href="#/private/notifications">
          <ion-nav-view name="notification" animation="slide-left-right"></ion-nav-view>
        </ion-tab-->
        
        <ion-tab title="Community" icon="ion-earth" href="#/private/community">
         <ion-nav-view name="community" animation="slide-left-right"></ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Profile" icon="ion-person" href="#/private/profile">
          <ion-nav-view name="profile" animation="slide-left-right"></ion-nav-view>
        </ion-tab>
  
    </ion-tabs>
    
    
  </ion-pane>
  
  <ion-side-menu side="left" style="color: white" >
    <header class="bar bar-header afk-header-menu">
      <h1 class="title" style="color: white;">Afrikik</h1>
    </header>
    <ion-content class="has-header" >
      <ion-list >
        <ion-item nav-clear menu-close href="/#/private/search" >
          Home
        </ion-item>
        <ion-item nav-clear menu-close href="/#/private/profile" >
          Profile
        </ion-item>        
        <ion-item nav-clear menu-close href="/#/private/search-page" >
          Search 
        </ion-item>
        <ion-item nav-clear menu-close href="#/private/feeds" >
          Community Feeds
        </ion-item>              
        <ion-item nav-clear menu-close  href="#/private/subscriptions">
          My Subscriptions
        </ion-item>
        <!--ion-item nav-clear menu-close  href="#/private/notifications">
          Notification <span class="afk-notification">0</span>
        </ion-item-->
        <!--ion-item nav-clear menu-close  href="#/index"  >
          Logout
        </ion-item-->
        <ion-item nav-clear>
          <div  onclick="navigator.app.exitApp()">Exit</div>          
        </ion-item>
      </ion-list>
      
    </ion-content>
  </ion-side-menu>
</ion-side-menus>