 <ion-nav-bar class="bar-positive" style="background-color: black;color: white;border-bottom-width: 4px;border-bottom-color: black; height: 50px">     
      <!--div class="bar bar-header" style="background-color: black;color: white;border-bottom-width: 4px;border-bottom-color: black;">
      <button class="button button-icon icon ion-navicon"></button>
      <center><img src="./images/logo.png" style="width: 50%;max-height: 36px;max-width: 400px;"/></center>
      <button class="button button-clear" style="background-color: #f97c11;color: white;font-size: 14px;font-weight: bold; width: 50px;"> + </button>
      </div-->
      <div class="row" style="background-color: black;color: white;border-bottom-width: 4px;border-bottom-color: black;">
        <div class="col-10">
            <button class="button button-icon icon ion-navicon"></button>
        </div>
        <div class="col-80">
            <center><img src="./images/logo.png" style="width: 50%;max-height: 36px;max-width: 400px;"/></center>
        </div>
        <div class="col col-10" style="text-align: right;padding: 0px">
            <button class="button button-clear" style="background-color: #f97c11;color: white;font-size: 30px;font-weight: bold; width: 99%;max-height: 35px;max-width: 35px"> + </button>
        </div>
      </div>
</ion-nav-bar>
<ion-nav-view animation="slide-left-right">
  <!-- Center content -->

</ion-nav-view>
