
<ion-nav-view animation="slide-left-right">
  <!-- Center content -->

</ion-nav-view>

<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable" style="background-color: black;height: 50px">
      <div style="width: 25%">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i></ion-nav-back-button>      
      <button menu-toggle="left" class="button button-icon icon ion-navicon" style="black;color: white"></button>
      </div>
      <div class="afk-align-center" style="width: 60%">
        <img src="./images/logo.png" style="max-height: 36px;max-width: 400px;"/>
      </div>
      <div style="width: 15%;text-align: right; margin: 2px;vertical-align: middle">
        <button class="button button-icon icon icon ion-plus" style="color: white;background-color:#f97c11;border-radius: 0;"></button>
      </div>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" style="color: white">
    <header class="bar bar-header bar-stable" style="background-color: #4a4845;border-color: #4a4845;">
      <h1 class="title" style="color: white;">Afrikik</h1>
    </header>
    <ion-content class="has-header" >
      <ion-list >
        <ion-item nav-clear menu-close href="#/private/search" >
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/private/browse">
          News
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          About
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>