<ion-view left-buttons="leftButtons" right-buttons="rightButtons">

    <ion-content has-header="true">        

        <ion-slide-box style="background-color: #4a4845;">      
      <ion-slide ng-controller="PlayerCtrl" >              
        <div class="row" style="border-color: #4a4845;">
          <div class="col afk-align-center">
            <a class="afk-menu-tab2 afk-menu-tab-active">BROWSE PLAYERS</a>
          </div>
          <div class="col afk-align-center" ng-click="go(1)">
            <a class="afk-menu-tab2">MY SUBSCRIPTIONS</a>
          </div>
          <div class="col afk-align-center" ng-click="go(2)">
            <a class="afk-menu-tab2">FRIENDS</a>
          </div>
        </div>
        
        <div class="item item-input-inset" style="background-color: grey">
            <!--label style="margin-right: 0px;">
                <select ng-model="mediaTypes.type" class="afk-search-bg"  ng-change="search()">
                    <option value="all" selected>All Type</option>
                    <option value="musicVideo">Players</option>
                    <option value="movie">Teams</option> 
                    <option value="movie">Members</option> 
                </select>
            </label-->

            <label class="item-input-wrapper afk-search-bg" style="margin:0px;border-radius: 0px" >
                <i class="icon ion-search placeholder-icon" class="afk-search-bg"></i>
                <input type="text" placeholder="Search For Players, Teams" class="afk-search-bg" ng-model="searchName" />
            </label>

            <button class="button afk-btn-register"  style="margin:0px;" ng-click="search(searchName)">
            Search
            </button>
        </div>
        
        <ion-list>
          <ion-item ng-repeat="item in items" class="afk-bg-list item item-avatar item-button-right">
            <img ng-src="{{item.picture? apiDir + item.picture :'./images/nopic-player.png'}}" class="afk-circle">              
            <a class="afk-lnk-detail" ng-click="setCurrentItem(item)">
              <span class="afk-obj-name">{{item.name}}</span>
            <span class="afk-obj-desc">{{item.description||item.career}}</span>
              View Profile <i class="icon ion-ios7-arrow-forward"></i></a>
          </ion-item>   
        </ion-list>
        <!--ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll-->
      </ion-slide>
      
      <ion-slide ng-controller="PlayerCtrl">              
        <div class="row" style="border-color: #4a4845;">
          <div class="col afk-align-center">
            <a class="afk-menu-tab2" ng-click="go(0)">BROWSE PLAYERS</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab2 afk-menu-tab-active">MY SUBSCRIPTIONS</a>
          </div>
          <div class="col afk-align-center" ng-click="go(2)">
            <a class="afk-menu-tab2">FRIENDS</a>
          </div>
        </div>

        <ion-list>
          <ion-item ng-repeat="player in user.subscribedPlayers" class="afk-bg-list item item-avatar item-button-right">
             <img ng-src="./images/{{player.picture||'no-player.png'}}" class="afk-circle"> 
            <a class="afk-lnk-detail" ng-click="setCurrentItem(player)">
              <span class="afk-obj-name">{{player.name}}</span>
            <span class="afk-obj-desc">{{player.description||player.career}}</span>
              View Profile <i class="icon ion-ios7-arrow-forward"></i></a>
          </ion-item>   
        </ion-list>   
      </ion-slide>
      
      <ion-slide ng-controller="MemberCtrl">              
        <div class="row" style="border-color: #4a4845;">
          <div class="col afk-align-center" ng-click="go(0)">
            <a class="afk-menu-tab2">BROWSE PLAYERS</a>
          </div>
          <div class="col afk-align-center" ng-click="go(1)">
            <a class="afk-menu-tab2">MY SUBSCRIPTIONS</a>
          </div>
          <div class="col afk-align-center">
            <a class="afk-menu-tab2 afk-menu-tab-active">FRIENDS</a>
          </div>
        </div>      
        <ion-list>
          <ion-item ng-repeat="member in user.following" class="afk-bg-list item item-avatar item-button-right">
            <img ng-src="./images/{{member.picture||'no-member.png'}}" class="afk-circle"> 
            <a class="afk-lnk-detail"  ng-click="setCurrentMember(member)">
              <span class="afk-obj-name">{{member.name}}</span>
            <span class="afk-obj-desc">{{member.description}}</span>
              View Profile <i class="icon ion-ios7-arrow-forward"></i></a>
          </ion-item>   
        </ion-list>     
      </ion-slide>
    </ion-slide-box>  
        
    </ion-content>

</ion-view>
