
<ion-tabs class="tabs-icon-top tabs-default">


  <!-- Member Tab -->
  <ion-tab title="My Profile" icon="icon ion-home" href="#/private/tab/pets">
    <ion-nav-view name="member-tab"></ion-nav-view>
  </ion-tab>


  <!-- News Tab -->
  <ion-tab title="News" icon="icon ion-heart" href="#/private/tab/adopt">
    <ion-nav-view name="adopt-tab"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="Search" icon="icon ion-search" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
